nav {
    display: flex;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 17vh;
    justify-content: space-around;
    background: #CCCC;
    box-shadow: rgba(0, 0, 0, 0.2) 20px 20px,
        inset 10px 10px white,
        inset -15px -5px #797979;
    border-radius: 20px;
    border: 5px solid black;
}

.nav-container {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Game_Paused', regular;

    a {
        color: black;
        text-decoration: none;

    }

    a:hover {
        color: var(--primary-color);
        animation: shine 2s ease-in-out infinite;
        transition: 0.3s;
    }
}


#nav-main {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
}

#nav-left {
    width: 10em;
    margin-right: 2em;
}

#nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

footer {
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--footer-bg);

    a {
        /* color: var(--text-light); */
        color: black;
        text-decoration: none;
    }
}

#footer-logo {
    margin: 0em 3em;
}

#footer-main {
    height: 90%;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

#footer-bottom {
    height: 10%;
    width: 100%;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-list>div {
    margin: 0.3em 0em;
}

.footer-list>h3 {
    margin-bottom: 0.5em;
}

#footer-bottom {
    margin: 0em 3em;
    height: 100%;
}
