:root {
    --background-color: #F7D6BF;
    --secondary-background-color: #9f958e;
    --primary-color: #819757;
    --secondary-color: #819757;
    --accent-color: #97275f;
    --text-dark: #2E2E2E;
    --text-light: #F5F5F5;
    --border-color: #5D4037;
    --card-bg: #FFEFD5;
    --nav-bg: #bbbbbb;
    --footer-bg: #bbbbbb;
}
