<!--
This file should not be used directly. This is just to sync-in changes between pages for components.

Pages using this:
- index.html
- pages/news.html
-->

<footer>
    <div id="footer-main">
        <div class="footer-item" id="footer-logo">
            <img src="images/logo.png" alt="Logo" width="125" height="125">
        </div>
        <div class="footer-container" id="footer-main">
            <div class="footer-list">
                <h3>Shop</h3>
                <div class="footer-item" id="footer-item-shop">
                    <a href="game_grey.html">Shop</a>
                </div>
            </div>
            <div class="footer-list">
                <h3>Community</h3>
                <div class="footer-item" id="footer-item-news">
                    News
                </div>
                <div class="footer-item" id="footer-item-social">
                    Social
                </div>
            </div>
            <div class="footer-list">
                <h3>Support</h3>
                <div class="footer-item" id="footer-item-about">
                    About
                </div>
                <div class="footer-item" id="footer-item-support">
                    Support
                </div>
            </div>
            <div class="footer-list">
                <h3>Terms and Conditions</h3>
                <div class="footer-item" id="footer-item-tos">
                    Terms of Service
                </div>
                <div class="footer-item" id="footer-item-privacy">
                    Privacy & Cookies
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <div id="footer-copyright">
            © 2025 Gameboy Cartridge Co. All rights reserved.
        </div>
    </div>
</footer>
