<!--
This file should not be used directly. This is just to sync-in changes between pages for components.

Pages using this:
- index.html
- pages/news.html
-->
<nav>
    <div class="nav-container" id="nav-left">
        <div class="nav-item" id="nav-logo">
            <a href="index.html">
                <img src="images/logo.png" alt="Logo" width="125" height="125">
            </a>
        </div>
    </div>
    <div class="nav-container" id="nav-main">
        <div class="nav-item" id="nav-item-shop">
            <a href="game_grey.html">Shop</a>
        </div>
        <div class="nav-item" id="nav-item-news">
            News
        </div>
        <div class="nav-item" id="nav-item-about">
            About
        </div>
        <div class="nav-item" id="nav-item-support">
            Support
        </div>
    </div>
    <div class="nav-container" id="nav-right">
        <div class="nav-item" id="avatar">
            <svg width="50px" height="50px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="m 8 1 c -1.65625 0 -3 1.34375 -3 3 s 1.34375 3 3 3 s 3 -1.34375 3 -3 s -1.34375 -3 -3 -3 z m -1.5 7 c -2.492188 0 -4.5 2.007812 -4.5 4.5 v 0.5 c 0 1.109375 0.890625 2 2 2 h 8 c 1.109375 0 2 -0.890625 2 -2 v -0.5 c 0 -2.492188 -2.007812 -4.5 -4.5 -4.5 z m 0 0"
                    fill="#2e3436" />
            </svg>
        </div>
    </div>
</nav>
