<!--
This file should not be used directly. This is just to sync-in changes between pages for components.

Pages using this:
- index.html
-->
<section class="products">
    <h2>Available Cartridges</h2>
    <div class="product-grid">
        <div class="product-card">
            <img src="images/cartrige1.png" alt="Legend of Zelda">
            <h3>Legend of Zelda</h3>
        </div>
        <div class="product-card">
            <img src="images/cartrige2.png" alt="Tetris">
            <h3>Tetris</h3>
        </div>
        <div class="product-card">
            <img src="images/cartrige3.png" alt="Pokemon">
            <h3>Pokemon</h3>
        </div>
        <div class="product-card">
            <img src="images/cartrige4.png" alt="Donkey Kong">
            <h3>Donkey Kong</h3>
        </div>
    </div>
</section>
